ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: black
    }
li{
    color: aliceblue;
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
    padding-left:50px;
    font-family: sans-serif;
}

aside {
    width: 100%;
}